body {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  background-color: #fff4d9;
}

.top-header {
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 800px;
  background-color: inherit;
  position: sticky;
  position: -webkit-sticky;
  top: calc(-4rem - 1px);
}

.content {
  text-align: left;
  margin: 0 1rem;
}

header {
  margin: 1rem 0;
}

article, footer {
  margin: 2rem 0;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
  line-height: 1.5em;
  text-align: justify;
}

.tags {
  float: right;
}

.quote > p::before {
  margin-left: -.4em;
  content: "“"
}

.quote > p::after {
  content: "…”"
}

pre {
  margin: 1rem 0;
  white-space: pre-wrap;
}

code {
  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

p > a {
  text-decoration: underline;
}

em {
  font-style: italic;
}

table {
  margin: 1rem 0;
  text-align: left;
  width: 100%;
}

thead {
  border-bottom: solid 1px;
}

th, td {
  padding: 0.5rem;
}

nav {
  padding: 0.5rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

nav > ul > li {
  display: inline;
  margin: 0.5rem;
}

pre {
  padding: 0.5rem;
  border: 1px black solid;
  background-color: white;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lang-mathematics {
  font-size: 1.25rem;
}
