[build]
  Functions = "functions"

[[headers]]
  for = "*"
  [headers.values]
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Frame-Options = "SAMEORIGIN"
    X-Xss-Protection = "1"
    X-Content-Type-Options = "nosniff"
    Content-Security-Policy = "default-src 'self'; img-src *; child-src https://www.youtube-nocookie.com 'self'; frame-src https://www.youtube-nocookie.com 'self';"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Cache-Control = "no-cache"

[[headers]]
  for = "*.css"
  [headers.values]
    Cache-Control = "max-age=315360000, public, immutable"

[[headers]]
  for = "/sw.js"
  [headers.values]
    Content-Security-Policy = "connect-src *;"

[[headers]]
  for = "/atom.xml"
  [headers.values]
    Content-Type = "application/atom+xml; charset=utf-8"
