<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1">
  <link rel="icon" type="image/png" href="/icons/icon-64.png">
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
  <title>Qubyte Codes - About</title>
  <script src="/index.js" async></script>
  <link href="https://paypal.me/qubyte" rel="payment">
  <link href="{{cssPath}}" rel="stylesheet">
  <meta name="theme-color" content="#f1e7cd">
  {{#dev}}
  <script>
    new EventSource('/events').addEventListener('new', () => {
      console.log('RELOAD');
      window.location.reload(true);
    });
  </script>
  {{/dev}}
</head>
<body>
  <header class="top-header">
    <h1><a href="/">Qubyte Codes</a></h1>
    <nav>
      <ul>
        <li><a href="/">archive</a></li>
        <li><a href="/about">about</a></li>
        <li>blogroll</li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <h2>Blogroll</h2>
    <p><a href="http://2ality.com/" target="_blank" rel="noopener">2ality</a> - The blog of Axel Rauschmayer</p>
    <p><a href="https://adactio.com/" target="_blank" rel="noopener">adactio</a> - The blog of Jeremy Keith</p>
  </div>
</body>
</html>
