<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1">
  <link rel="icon" type="image/png" href="/icons/icon-64.png">
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
  <title>Qubyte Codes - Thanks!</title>
  <script src="/index.js" async></script>
  <link href="{{cssPath}}" rel="stylesheet">
  <meta name="theme-color" content="#f1e7cd">
  <meta http-equiv="refresh" content="5;/webmention">
  {{#dev}}
  <script>
    new EventSource('/events').addEventListener('new', () => {
      console.log('RELOAD');
      window.location.reload(true);
    });
  </script>
  {{/dev}}
</head>
<body>
  <p>Thank you! Come back later to see your link (I check them myself).</p>
</body>
</html>
