<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header class="top-header">
    <h1><a href="/">Qubyte Codes</a></h1>
    <nav>
      <ul>
        <li><a href="/">archive</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article>
      <h2>Thank you!</h2>
      <p>Come back later to see your link (I check them myself).</p>
    </article>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
