<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1">
  <link rel="icon" type="image/png" href="/icons/icon-64.png">
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
  <title>Qubyte Codes - About</title>
  <script src="/index.js" async></script>
  <link href="{{cssPath}}" rel="stylesheet">
  <meta name="theme-color" content="#f1e7cd">
  {{#dev}}
  <script>
    new EventSource('/events').addEventListener('new', () => {
      console.log('RELOAD');
      window.location.reload(true);
    });
  </script>
  {{/dev}}
</head>
<body>
  <header class="top-header">
    <h1><a href="/">Qubyte Codes</a></h1>
    <nav>
      <ul>
        <li><a href="/">archive</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <h2>Ping</h2>
    {{!-- <form method="post" action="/webmention" netlify>
      <input name="source" id="webmention-source" type="url"><p>Have you published a response to this? <label for="webmention-source">Let me know the <abbr title="Uniform Resource Locator">URL</abbr></label>:</p>
      <input name="target" value="{{{attributes.canonical}}}" type="hidden">
      <button type="submit">Ping!</button>
    </form> --}}
  </div>
</body>
</html>
