body {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.top-header {
  text-align: center;
}

.content {
  flex: 0 1 800px;
  margin: 0 1rem;
}

.sidebar {
  flex: 1;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

pre {
  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

article {
  margin: 2rem 0;
}
