<p>Copyright Mark Everitt 2015-{{year}}.
<a href="https://ko-fi.com/qubyte" rel="payment">Donate</a> to support this blog and my OS work. <input id="party-time" type="checkbox"><label for="party-time">Party on! </label></p>
