  <p class="h-card{{#if additionalClasses}} {{additionalClasses}}{{/if}}" hidden>
    <img
      class="u-photo"
      srcset="/img/profile-300.jpg 300w,/img/profile-150.jpg 150w"
      sizes="150px"
      src="/img/profile-150.jpg"
      alt="A profile picture."
    >
    <a class="p-name u-url" href="https://qubyte.codes">Mark Stanley Everitt</a>
    <a class="u-email" href="mailto:hello@qubyte.codes">hello@qubyte.codes</a>
    <a class="u-payment" href="https://paypal.me/qubyte">Donate.</a>
    <span class="p-x-pronoun-nominative">he</span>
    <span class="p-x-pronoun-nominative">they</span>
    <span class="p-x-pronoun-oblique">him</span>
    <span class="p-x-pronoun-oblique">them</span>
    <span class="p-x-pronoun-possessive">his</span>
    <span class="p-x-pronoun-possessive">theirs</span>
    <span class="p-nickname">qubyte</span>
  </p>
