  <p class="h-card{{#if additionalClasses}} {{additionalClasses}}{{/if}}" hidden>
    <picture>
      <source
        type="image/avif"
        srcset="/img/profile-300.avif 300w, /img/profile-150.avif 150w"
        sizes="150px"
      >
      <source
        type="image/webp"
        srcset="/img/profile-300.webp 300w, /img/profile-150.webp 150w"
        sizes="150px"
      >
      <img
        class="u-photo"
        width="150"
        height="150"
        srcset="/img/profile-300.jpg 300w, /img/profile-150.jpg 150w"
        sizes="150px"
        src="/img/profile-150.jpg"
        alt="A profile picture."
      >
    </picture>
    <a class="p-name u-url" href="https://qubyte.codes">Mark Stanley Everitt</a>
    <a class="u-email" href="mailto:hello@qubyte.codes">hello@qubyte.codes</a>
    <a class="u-payment" href="https://paypal.me/qubyte">Donate.</a>
    <span class="p-x-pronoun-nominative">he</span>
    <span class="p-x-pronoun-oblique">him</span>
    <span class="p-x-pronoun-possessive">his</span>
    <span class="p-nickname">qubyte</span>
  </p>
