<nav>
  <ul>
    <li>{{navElement "/" "archive"}}</li>
    <li>{{navElement "/notes" "notes"}}</li>
    <li>{{navElement "/links" "links"}}</li>
    <li>{{navElement "/about" "about"}}</li>
  </ul>
</nav>
