<article class="h-entry">
  <header>
    <a href="/notes/{{timestamp}}"><time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime}}</time></a>
  </header>
  <p class="p-content">{{content}}</p>
</article>
