<dialog id="ruby-options" hidden>
  <p>Select ruby display options.</p>
  <form method="dialog">
    <label><input type="radio" name="ruby-position" value="off"> off</label>
    <label><input type="radio" name="ruby-position" value="over"> above</label>
    <label><input type="radio" name="ruby-position" value="under"> below</label>
    <button>close</button>
  </form>
</dialog>
