<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    <nav>
      <ul>
        <li><a href="/">archive</a></li>
        <li><a href="/notes">notes</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <main class="not-found">
    <p>Not found!</p>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
