<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> hcard-basics }}
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main class="not-found">
    <p>Not found!</p>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
