<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    <article class="h-card">
      <h2>About</h2>
      <picture class="profile-pic">
        <source
          type="image/avif"
          srcset="/img/profile-300.avif 300w, /img/profile-150.avif 150w"
          sizes="150px"
        >
        <source
          type="image/webp"
          srcset="/img/profile-300.webp 300w, /img/profile-150.webp 150w"
          sizes="150px"
        >
        <img
          width="150"
          height="150"
          srcset="/img/profile-300.jpg 300w, /img/profile-150.jpg 150w"
          sizes="150px"
          src="/img/profile-150.jpg"
          alt="My profile picture."
          class="u-photo"
        >
      </picture>
      <p>
        Welcome to
        <a href="{{baseUrl}}/" class="u-url u-uid" rel="me">qubyte.codes</a>!
        The personal site of
        <span class="p-name"><span class="p-honorific-prefix">Dr.</span> <span class="p-given-name">Mark</span> <span class="p-additional-name">Stanley</span> <span class="p-family-name">Everitt</span></span>
        (<span class="p-nickname">qubyte</span>). My pronouns are
        <span class="p-x-pronoun-nominative">he</span>/<span class="p-x-pronoun-oblique">him</span>/<span class="p-x-pronoun-possessive">his</span>.
        <a class="u-email" href="mailto:hello@qubyte.codes" hidden></a>
        <a rel="payment" class="u-payment" href="https://ko-fi.com/qubyte" hidden></a>
      </p>
      <p>
        <span class="p-note">I'm a server side web (mostly) software developer and one time quantum information scientist.</span>
        I specialise in JavaScript, and these days I live in and work from
        <span class="p-locality">Brighton</span>,
        <span class="p-country-name">UK</span>. This site is a place for me to
        write about stuff I find interesting or useful.
      </p>
      <p>
        By day I spend much of my programming time writing Node.js, Ruby, and
        Scala applications, with a little browser stuff when I can.
      </p>
      <p>
        I'm also interested in the social side and ethics of software
        development. I was a regular mentor at
        <a href="https://codebar.io">Codebar</a> in Brighton. I've been taking a
        break for a while since I'm a dad now, but intend to return later!
      </p>
      <p>
        I lived and worked in Tokyo for a number of years, initially as an
        academic (I hold a PhD in quantum optics and quantum information), and
        later as a programmer. I speak a little Japanese and continue to
        <a href="/japanese-notes">study the language</a>.
      </p>
      <p>
        This site is hosted by <a href="https://www.netlify.com/">Netlify</a>.
        I use no cookies or other means of identifying or tracking you. To learn
        more about how this site is built and hosted, and the engineering
        philosophy behind it, check out the <a href="/colophon">colophon</a>.
      </p>
      <p>
        Individual posts support
        <a href="https://indieweb.org/Webmention">webmentions</a>. If your
        blogging software doesn't support webmentions but you'd still like to
        let me know, you can manually input the URL of your mention in the form
        at the bottom of each post.
      </p>
      <p>
        If you have questions or comments you can toot to me at
        {{> share-toot text="@qubyte@mastodon.social" }}, or
        {{> email-me subject="Hello!" text="email me" }}.
      </p>
      <p>
        If you're interested in code I've published, I'm
        <a href="https://github.com/qubyte">qubyte</a> on GitHub.
      </p>
      <p>
        I keep <a href="/blogroll">a list of other blogs and sites I read</a>.
        Check it out!
      </p>
      <p>
        This site is part of the
        <a href="https://xn--sr8hvo.ws">IndieWeb WebRing!</a>
        <a href="https://xn--sr8hvo.ws/previous">←</a>
        <a href="https://xn--sr8hvo.ws/next">→</a>
      </p>
    </article>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
