<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> hcard-basics }}
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    <article>
      <h2>About</h2>
      <img
        width="150"
        height="150"
        class="profile-pic"
        srcset="/img/profile-300.jpg 300w,/img/profile-150.jpg 150w"
        sizes="150px"
        src="/img/profile-150.jpg"
        alt="A profile picture."
      >
      <p>
        Welcome to <a href="https://qubyte.codes">qubyte.codes</a>! The personal
        site of Mark Stanley Everitt. My pronouns are he/him.
      </p>
      <p>
        I'm a programmer specialising in JavaScript, living and working in
        Brighton, UK. This blog is a place for me to write about stuff I find
        interesting or useful. Probably JavaScript for the most part, but
        certainly not limited to it. By day I spend most of my programming time
        writing Node.js applications, with a little browser stuff when I can.
      </p>
      <p>
        I'm also interested in the social side and ethics of software
        development. I was a regular mentor at
        <a href="https://codebar.io">Codebar</a> in Brighton. I've been taking a
        break for a while since I'm a dad now, but intend to return later!
      </p>
      <p>
        I lived and worked in Tokyo for a number of years, initially as an
        academic (I hold a PhD in quantum optics and quantum information), and
        later as a programmer. I speak a little Japanese and continue to
        <a href="/japanese-notes">study the language</a>.
      </p>
      <p>
        This site is hosted by <a href="https://www.netlify.com/">Netlify</a>.
        I use no cookies or other means of identifying or tracking you.
      </p>
      <p>
        Individual posts support
        <a href="https://indieweb.org/Webmention">webmentions</a>. If your
        blogging software doesn't support webmentions but you'd still like to
        let me know, you can manually input the URL of your mention in the form
        at the bottom of each post.
      </p>
      <p>
        If you have questions or comments you can tweet to me
        {{> comments-tweet text="@qubyte" }}, or
        {{> email-me subject="Hello!" text="email me" }}.
      </p>
      <p>
        If you're interested in code I've published, I'm
        <a href="https://github.com/qubyte">qubyte</a> on GitHub.
      </p>
      <p>
        I keep <a href="/blogroll">a list of other blogs and sites I read</a>.
        Check it out!
      </p>
    </article>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
