<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    <article class="h-entry">
      {{> blog-entry-header }}
      <div class="e-content">
        {{{content}}}
      </div>
      {{> footnotes }}
      {{> backlinks }}
      {{> webmentions }}
      <hr>
      <details>
        <summary>Feel like sharing or responding?</summary>
        <p>Comments or corrections? {{> share-toot text="Toot to me!" }}</p>
        {{> webmention-form }}
        <p><a href="{{editUrl}}">Edit page.</a></p>
      </details>
    </article>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
