<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> hcard-basics }}
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    <article class="h-entry">
      {{> hcard-basics additionalClasses="p-author" }}
      {{> blog-entry-header }}
      <div class="e-content">
        {{{content}}}
      </div>
      {{> backlinks }}
      {{> webmentions }}
      <details class="share">
        <summary>Feel like sharing or responding?</summary>
        <p>{{> share-tweet callToAction="Tweet this post!" }}</p>
        <p>Comments or corrections? {{> comments-tweet text="Send me a tweet!" }}</p>
        {{> webmention-form }}
      </details>
    </article>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
