<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    <nav>
      <ul>
        <li><a href="/">archive</a></li>
        <li><a href="/about">about</a></li>
        <li>blogroll</li>
      </ul>
    </nav>
  </header>
  <main>
    <article>
      <h2>Blogroll</h2>
      <p><a href="http://2ality.com/" target="_blank" rel="noopener">2ality</a> - The blog of Axel Rauschmayer</p>
      <p><a href="https://adactio.com/" target="_blank" rel="noopener">adactio</a> - The blog of Jeremy Keith</p>
    </article>
  </main>
  <footer>
    {{> copyright }}
  </footer>
  </div>
</body>
</html>
