<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body class="h-feed">
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <h1 class="p-name"><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    This is a collection of things I like on the web. If you use a feed reader,
    <a href="/social.atom.xml">you can subscribe</a>!
    {{#likes}}{{> like }}{{/likes}}
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
