<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> hcard-basics }}
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    {{#links}}{{> link }}{{/links}}
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
