<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    <article class="h-note">
      <header>
        <time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime}}</time>
      </header>
      <div class="e-content">
        <p>{{content}}</p>
      </div>
    </article>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
