<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body class="h-feed">
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <h1 class="p-name"><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    {{#notes}}{{> note }}{{/notes}}
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
