<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> hcard-basics }}
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    {{> reply }}
    <p><a href="/replies">Back to Replies.</a></p>
  </main>
  <footer>
    {{#if hasRuby}}{{> ruby-options }}{{/if}}
    {{> copyright }}
  </footer>
</body>
</html>
