<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body class="h-feed">
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <h1 class="p-name"><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    <p>This is a collection of things on the web I have replied to. If you use a
    feed reader, <a href="/social.atom.xml">you can subscribe</a>!</p>
    {{#replies}}{{> reply }}{{/replies}}
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
