<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    {{> study-session }}
    <p><a href="/study-sessions">Back to Study Sessions.</a></p>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
