<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
  {{#posts}}
    <article class="h-entry" light-emoji="{{lightEmoji}}" dark-emoji="{{darkEmoji}}">
      {{> blog-entry-header }}
      {{{snippet}}}
    </article>
  {{/posts}}
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
