.experiment {
  text-align: center;
  margin: 1rem
}

.experiment svg {
  background-color: var(--standout-color-main);
  stroke: var(--background-color-main);
  fill: none;
  border: 1px solid var(--standout-color-main)
}

@media (prefers-color-scheme: dark) {
  .experiment svg {
    background-color: var(--background-color-main);
    stroke: var(--standout-color-main);
  }
}
