/* chakra-petch-regular - latin */
@font-face {
  font-family:'Chakra Petch';
  font-style:normal;
  font-weight:400;
  font-display:fallback;
  src:local('Chakra Petch Regular'),local('ChakraPetch-Regular'),url('/fonts/chakra-petch-v2-latin-regular.woff2') format('woff2'),url('/fonts/chakra-petch-v2-latin-regular.woff') format('woff');
}

/* titillium-web-regular - latin */
@font-face {
  font-family:'Titillium Web';
  font-style:normal;
  font-weight:400;
  font-display:fallback;
  src:local('Titillium Web Regular'),local('TitilliumWeb-Regular'),url('/fonts/titillium-web-v7-latin-regular.woff2') format('woff2'),url('/fonts/titillium-web-v7-latin-regular.woff') format('woff');
}
