:root {
  --base-background-hue: 45;
  --base-background-sat: 100%;
  --base-background-lum: 90%;

  --base-foreground-hue: calc(var(--base-background-hue) + 180);
  --base-foreground-sat: 100%;
  --base-foreground-lum: 30%;

  --background-color-main: hsl(
    var(--base-background-hue),
    var(--base-background-sat),
    var(--base-background-lum)
  );

  --background-color-alt: hsl(
    calc(var(--base-background-hue) - 30),
    var(--base-background-sat),
    var(--base-background-lum)
  );

  --standout-color-main: hsl(
    var(--base-foreground-hue),
    var(--base-foreground-sat),
    var(--base-foreground-lum)
  );

  --standout-color-alt: hsl(
    calc(var(--base-foreground-hue) - 30),
    var(--base-foreground-sat),
    var(--base-foreground-lum)
  );
}

body {
  font-family: 'Titillium Web' sans-serif;
  text-align: left;
  overscroll-behavior-y: none;
  background-color: var(--background-color-main);
  color: var(--standout-color-main);
  min-height: 100vh;
  word-spacing: 0.15em;
}

h1, h2 {
  font-family: 'Chakra Petch' sans-serif;
  font-size: 2rem;
  word-spacing: normal;
}

h2, h3 {
  scroll-margin-top: 3rem;
}

h1 {
  padding: 1rem 0;
}

h2 {
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

p, summary {
  margin: 1rem 0;
  line-height: 1.5em;
}

body > header {
  text-align: center;
  margin: 0;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: calc(-4rem - 1px);
  z-index: 1; /* works around stacking context introduced by filters */
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

body > footer {
  font-size: small;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0;
  border-top: 1px solid var(--standout-color-main);
  background-color: var(--background-color-alt);
  position: sticky;
  position: -webkit-sticky;
  top: 100vh;
}

nav {
  padding: 0.5rem;
  border-color: var(--standout-color-main);
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  background-color: var(--background-color-alt);
}

article {
  padding: 0.5rem 0;
}

.share {
  border-top: 1px solid var(--standout-color-main);
}

header {
  margin: 1rem 0;
}

.tags {
  display: block;
  margin-top: 0.5rem;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
}

code {
  font-family: monospace;
  color: #000;
  word-spacing: normal;
}

a {
  color: inherit;
  text-decoration: underline;
}

header a {
  text-decoration: none;
}

em {
  font-style: italic;
}

table {
  margin: 1rem 0;
  text-align: left;
  width: 100%;
}

thead {
  border-bottom: solid 1px;
}

th, td {
  padding: 0.5rem;
}

nav > ul > li {
  display: inline;
  margin: 0.5rem;
}

article ul {
  list-style: disc inside none;
  line-height: 1.5em;
}

pre {
  padding: 0.5rem;
  border: 1px var(--standout-color-main) solid;
  background-color: #fff;
  margin: 1rem 0;
  white-space: pre-wrap;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

button {
  border: 1px solid var(--standout-color-main);
  background-color: #fff;
  padding-bottom: 2px;
  padding-top: 1px;
  padding-bottom: 2px;
  color: var(--standout-color-main);
}

input {
  padding-top: 1px;
  padding-bottom: 2px;
  border: 1px solid var(--standout-color-main);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mathematics {
  margin: 0 auto;
  width: 100%;
}

.profile-pic {
  border: 1px solid var(--standout-color-main);
  width: 150px;
  margin: 0 0 1rem 1rem;
  float: right;
}

.not-found {
  text-align: center;
  font-size: 3rem;
}

article + article::before {
  content: '⁂';
  display: block;
  text-align: center;
  padding-bottom: 1rem;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: 1px solid var(--standout-color-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-main: #000;
    --background-color-alt: #000;
    --standout-color-main: hsl(
      var(--base-background-hue),
      var(--base-background-sat),
      var(--base-background-lum)
    );
    --standout-color-alt: hsl(
      calc(var(--base-background-hue) - 30),
      var(--base-background-sat),
      var(--base-background-lum)
    );
  }

  img:not([src*=".svg"]) {
    filter: brightness(.8) contrast(1.2);
  }

  pre, button, input {
    background-color: var(--background-color-main);
  }

  code {
    filter: invert();
  }
}
